In [0]:
class Student:
  pass

varma = Student()
varma.first_name = "Venkat"
varma.last_name = "Varma"

paurnima = Student()
varma.first_name = "Paurima"
varma.last_name = "Chavan"

print(varma)
print(paurnima)

<__main__.Student object at 0x7f14476681d0>
<__main__.Student object at 0x7f1447668198>

In [0]:
class Student:
  
  def __init__(self, first, last, courses=None):
    self.first_name = first
    self.last_name =  last
    self.courses = courses
    if courses == None:
      self.courses = []
    else: 
      self.courses = courses

  def __str__(self):
    return f"FirstName: {self.first_name} \n LastName: {self.last_name} \n Courses : {self.courses}"


course_1 = ["python" , "descriptive statistics"]
course_2 = ["inferential statistics", "applided Statistics"]

paurnima = Student("paurnima", "Chavan", course_1)
varma = Student("Venkat", "varma",course_2)
sharma = Student("Sachin", "Sharma")
#print(varma.first_name)
#print(paurnima.last_name, paurnima.courses)
print(varma)
#__REPR__

FirstName: Venkat
 LastName: varma
 Courses : ['inferential statistics', 'applided Statistics']

In [0]:
class Student:
  
  def __init__(self, first, last, courses=None):
    self.first_name = first
    self.last_name =  last
    self.courses = courses
    if courses == None:
      self.courses = []
    else: 
      self.courses = courses

  def __str__(self):
    return f"FirstName: {self.first_name} \n LastName: {self.last_name} \n Courses : {','.join(self.courses)}"


course_1 = ["python" , "descriptive statistics"]
course_2 = ["inferential statistics", "applided Statistics"]

paurnima = Student("paurnima", "Chavan", course_1)
varma = Student("Venkat", "varma",course_2)
sharma = Student("Sachin", "Sharma")
#print(varma.first_name)
#print(paurnima.last_name, paurnima.courses)
print(varma)

FirstName: Venkat
 LastName: varma
 Courses : inferential statistics,applided Statistics

In [0]:
class Student:
  
  def __init__(self, first, last, courses=None):
    self.first_name = first
    self.last_name =  last
    self.courses = courses
    if courses == None:
      self.courses = []
    else: 
      self.courses = courses

  def __str__(self):
    return f"FirstName: {self.first_name} \n LastName: {self.last_name} \n Courses : {','.join(map(str.capitalize,self.courses))}"


course_1 = ["python" , "descriptive statistics"]
course_2 = ["inferential statistics", "applided Statistics"]

paurnima = Student("paurnima", "Chavan", course_1)
varma = Student("Venkat", "varma",course_2)
sharma = Student("Sachin", "Sharma")
#print(varma.first_name)
#print(paurnima.last_name, paurnima.courses)
print(varma)

FirstName: Venkat
 LastName: varma
 Courses : Inferential statistics,Applided statistics

In [0]:
capitalizer = lambda x: x.upper()

class Student:
  
  def __init__(self, first, last, courses=None):
    self.first_name = first
    self.last_name =  last
    self.courses = courses
    if courses == None:
      self.courses = []
    else: 
      self.courses = courses

  def __str__(self):
    return f"FirstName: {self.first_name} \n LastName: {self.last_name} \n Courses : {','.join(map(str.capitalize,self.courses))}"


course_1 = ["python" , "descriptive statistics"]
course_2 = ["inferential statistics", "applided Statistics"]

paurnima = Student("paurnima", "Chavan", course_1)
varma = Student("Venkat", "varma",course_2)
sharma = Student("Sachin", "Sharma")
#print(varma.first_name)
#print(paurnima.last_name, paurnima.courses)
# how to define own length __len__
print(varma)

varma.

FirstName: Venkat
 LastName: varma
 Courses : INFERENTIAL STATISTICS,APPLIDED STATISTICS

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'courses',
 'first_name',
 'last_name']